* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #387ac5;
  padding: 20px 0;
}

.menu {
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.acessType {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 15px;
}

.content-container {
  color: #315580;
  background-color: #25aaaa63;
  display: flex;
  justify-content: center;
}
.content {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscribe {
  border: 1px solid #406fa3d5;
  padding: 2px;
}
